@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

h1{
  font-family: 'Space Grotesk', sans-serif !important;
}

h2{
  font-family: 'Space Grotesk', sans-serif !important;
}

body{
  font-family: 'Space Grotesk', sans-serif !important;
}
