@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

h1{
  font-family: 'Space Grotesk', sans-serif !important;
}

h2{
  font-family: 'Space Grotesk', sans-serif !important;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link{
  font-family: 'Space Grotesk', sans-serif !important;
}

body{
  font-family: 'Space Grotesk', sans-serif !important;
}

.header-section  {
  margin-bottom: 30px !important;
}
